.dashboard {
  padding: 20px;
  max-width: 1200px; 
  margin: auto;
}

.section-title {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 24px; 
  font-weight: bold;
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 50px; 
  margin-bottom: 40px; 
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 50px;
}

.folder-card,
.flashcard-item {
  padding: 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem; 
}


@media (max-width: 768px) {
  .folder-grid {
    grid-template-columns: repeat(1, 1fr); 
  }

  .flashcard-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}
