.flashcard-container {
    width: 90%;
    max-width: 1000px;
    padding: 3% 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 100px auto 50px;
    background-color: #f4edde;
  }
  
  .flashcard-controls {
    display: flex;
    margin-top: 30px;
    justify-content:space-evenly;
    align-items: center;
    font-size: 20px;
  }
  
  .flashcard-controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(83 59 77);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .flashcard-controls button:hover {
    background-color: #a1aebd;
  }
  
  .flashcard-content {
    background-color: #ffffff;
    padding: 5%;
    border: 2px solid #f3ead5;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .flashcard-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.edit-icon {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}

.flipper {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  height: 400px;
}

.flipper.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
  height: 400px;
}

.back {
  transform: rotateY(180deg);
  height: 400px;
}