.quiz-container {
    width: 90%;
    max-width: 1000px;
    padding: 3% 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 100px auto 50px;
    background-color: #F6F6F6;
  }
  
  
  .quiz-question {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .quiz-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 300px;
    text-align: center;
  }
  
  .quiz-option {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d6ad78;
    color: #000;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  
  .quiz-option:hover, .quiz-option.selected, .quiz-nav-btn:hover {
    background-color: #7C9D96;
  }
  
  .quiz-result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  .quiz-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(83 59 77);
    font-weight: bold;
  }
  
  .quiz-link:hover {
    color: #a1aebd;
  }
  
  .quiz-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }
  
  .quiz-nav-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(83, 59, 77);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  

  
  .quiz-count {
    font-size: 20px;
  }

  .submit-container {
    position: relative;
    margin-top: 20px;
    text-align: center;
  }
  
  .quiz-submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7C9D96;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .quiz-submit-btn:hover {
    background-color: #a1aebd;
  }
  
  
  